## Lab 3 - Bar charts and green taxi trips

Green taxis opporate primarily in upper Manhattan and the other four boroughs, and NYC Open Data has a dataset of all green taxi trips taken in 2018.

### Getting the data

The NYC Open Data datast of all 2018 green taxi trips is here: [https://data.cityofnewyork.us/Transportation/2018-Green-Taxi-Trip-Data/w7fs-fd9i](https://data.cityofnewyork.us/Transportation/2018-Green-Taxi-Trip-Data/w7fs-fd9i)

The dataset contains almost 9 million rows, so as in Lab 2, we will filter the data to only be trips from Sept. 3, 2018 to make the dataset smaller.  To do this:
- Click on the "Filter" button.
- On the menu that appear, click on "Add a New Filter Condition".
- Choose "lpep_pickup_datetime" but change the "is" to be "is between".
- Click in the box below and a calendar will pop up. Highlight September 3, 2018.
- Click the second box below and a calendar will pop up.  Highlight September 4, 2018.
- It will take a few seconds (it's a large file) but the rows on the left will be filtered to be all trips with pickups between Sept. 3 2018 at 12am and Sept. 4 2018 at 12am, or all counts with pickups on Sept. 3.

To download the file,
- Click on the "Export" button.
- Under "Download", choose "CSV".
- The download will begin automatically (files are usually stored in "Downloads" folder).

Upload your CSV file to Jupyter Hub, and open it to see that it has been downloaded correctly.  (You can also do this in Excel or Text Edit before uploading the file.)

### Bar Charts

Bar charts are used to graph qualitative (categorical) data.  A bar chart visually shows the number of pieces of data in  each category.

As in Labs 1 and 2, we need to import the matplotlib and pandas packages and tell Jupyter to display the plots.  Run the code below to do this.

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

Can you write the code to store the data from the CSV file in a dataframe called `taxi`?  Getting the data from a filing is called *reading the file*.  The columns `lpep_pickup_datetime` and `lpep_dropoff_datetime` should be processed as dates.

In [4]:
taxi = pd.read_csv("../../data/Sept3_2018_Green_Taxi_Trip_Data.csv",parse_dates=["lpep_pickup_datetime","lpep_dropoff_datetime"])

<details> <summary>Answer:</summary>
taxi = pd.read_csv("taxi_trip_filename.csv",parse_dates=["lpep_pickup_datetime","lpep_dropoff_datetime"])
</details>

Check that the dataframe was created correctly by displaying the first five rows:

In [5]:
taxi.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type
0,2,2018-09-03 00:00:04,2018-09-03 00:25:20,N,1,42,186,2,5.55,21.0,0.5,0.5,4.46,0.0,NaN,0.3,26.76,1,1
1,2,2018-09-03 00:00:10,2018-09-03 00:05:40,N,1,97,52,2,1.49,7.0,0.5,0.5,2.49,0.0,NaN,0.3,10.79,1,1
2,2,2018-09-03 00:00:21,2018-09-03 00:23:38,N,1,93,146,1,8.29,26.0,0.5,0.5,0.00,0.0,NaN,0.3,27.30,2,1
3,2,2018-09-03 00:00:24,2018-09-03 00:23:51,N,1,173,146,1,4.84,19.5,0.5,0.5,3.12,0.0,NaN,0.3,23.92,1,1
4,2,2018-09-03 00:00:28,2018-09-03 00:11:45,N,1,146,223,1,2.71,11.0,0.5,0.5,2.46,0.0,NaN,0.3,14.76,1,1

<details> <summary>Hint:</summary>
    Use the head() function.
</details>

Here are descriptions of the dataframe columns:  [http://www.nyc.gov/html/tlc/downloads/pdf/data_dictionary_trip_records_green.pdf](http://www.nyc.gov/html/tlc/downloads/pdf/data_dictionary_trip_records_green.pdf)  Which columns are qualitative variables?

We will plot the `payment_type` column as a bar chart.  First we need to count how many trips used each payment type.  As in Lab 2, write a piece of code to display only the `payment_type` column.

<details> <summary>Answer:</summary>
taxi["payment_type"]
</details>

We can count the number of times each different value (ex. 1, 2) appears in the `payment_type` column using the code `taxi["payment_type"].value_counts()`. Type and run this code below.

What was the most used payment type?  Refer to the column information to see which payment type corresponds to which number:  [http://www.nyc.gov/html/tlc/downloads/pdf/data_dictionary_trip_records_green.pdf](http://www.nyc.gov/html/tlc/downloads/pdf/data_dictionary_trip_records_green.pdf) 

We can visualize these counts with a bar chart.  First we will store the counts of the values in a variable.
Type and run the following code: `pay_counts = taxi["payment_type"].value_counts()`

What happened?  

The code didn't display anything, so it looks like nothing happened.  However, we can check that the variable was created by typing its name and running the code:

Next, we will plot these counts.  Type and run the code `pay_counts.bar(kind = "bar")` below.

Why can you barely see the bars for payment types 3, 4, and 5?

Try typing and running the following code below `pay_counts.plot(kind = "barh")`. It is the same code but with `barh` instead of `bar`.

What does the parameter `kind = "barh"` do?

The `RatecodeID` column holds information about how the trip fare is calculated.  For example, 1 means it is calculated using the standard rate, while 2 means it is the flat rate for JFK to/from Manhattan. See [http://www.nyc.gov/html/tlc/html/passenger/taxicab_rate.shtml](http://www.nyc.gov/html/tlc/html/passenger/taxicab_rate.shtml) for a description of the different rate codes.

Can you write code to make a bar chart the number of trips using each `RatecodeID`?

<details> <summary>Answer:</summary>
    code_counts = taxi['RatecodeID'].value_counts()
    code_counts.plot.bar()
</details>

What rate code is used the most?  Does this make sense?  What rate code is used the second most?

#### Challenges
- Make a bar chart of one of the other categorical columns in `taxi` dataframe.
- We can make different types of plots by changing the parameter for the kind of plot.  A list of all of the different kinds of plots is here: [https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html#other-plots](https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html#other-plots). Can you make a pie plot for the payment type?
- Find another dataset on NYC Open Data with qualitative (categorical) data and make a bar chart of that data.